.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.hero picture,
.hero img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}